.title{
  text-align: center;
  font-size: 50px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.strike{
  text-decoration: line-through;
}

#enterTask{
  text-align: center;
}

input[type=text]{
  height: 50px;
  width: 250px;
  font-size: 30px;
}

#list{
  list-style: none;
  text-align: center;
  text-decoration: none;
  font-size: 51px;
  color: black;  
}

::placeholder{
  text-align: center;  
} 

.delete{
  height: 45px;
  width: 48px;
  background-color: RED;
  font-size: 17px;
}

#submit{
  height: 40px;
  width: 70px;
  font-size: 20px;
  background-color: green;
}

#reset{
  height: 40px;
  width: 70px;
  font-size: 20px;
  background-color: blue;
  color: white;
}

.checkBox{
  height: 40px;
  width: 70px;
}